# Caddyfile config for the application undergoing testing (This is NOT JSON)
{
  	auto_https disable_redirects
  	servers {
  		metrics
  	}
  }

  :9000 {
  	metrics /metrics
  }

  :8000 {
  	log

    # Handle env based main route
    @env_match {
        path /default*
    }

    handle @env_match {
        uri strip_prefix /default
        file_server * {
            root /srv/dist
            browse
        }
    }

  # Dynamically-generated routes from frontend.yaml paths
  {%- for app_url in app_urls %}
    {%- set route_name = app_url.strip('/').replace('/', '_') %}
    @{{ route_name }}_match {
      path {{ app_url }} {{ app_url }}/
    }
    handle @{{ route_name }}_match {
        uri strip_prefix {{ app_url }}
        file_server * {
            root /srv/dist
        }
    }

    @{{ route_name }}_subpath {
        path {{ app_url }}/*
    }
    handle @{{ route_name }}_subpath {
        uri strip_prefix {{ app_url }}
        file_server * {
            root /srv/dist
        }
    }
  {%- endfor %}

  # Handle the root path
  handle / {
    redir /apps/chrome/index.html permanent
  }
}
